@charset "utf-8";

article, aside, footer, header, main, nav, section 
{
	display: block;
}

html, body, h1, h2, h3, ul, li, a, p,
article, aside, footer, header, main, nav, section 
{
	padding: 0;
	margin: 0;
}

.Banner
{
	background-color: #11233b;	/*dark blue*/
	color: white;
	padding: 10px 20px;
}

body
{
	width: 960px;
	background-color: #f0f0f0; /*light gray*/
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
	/*align center*/
	margin-left: auto;
	margin-right: auto;
}

nav
{
	background-color: #20416c; /*dark blue*/
	padding: 5px;
	margin-top: 1px;
}

nav li a
{
	color: white;
}

nav li
{
	display: inline;
	margin-left: 15px;
	margin-right: 15px;
	font-size: 20px;
	font-variant: small-caps;
	font-weight: bold;
}

section
{
	background-color: #bbbbbb;
	margin-top: 10px;
	padding: 4px;
}

main
{
	width: 750px;
	float: left;		/*make the main element at the left side of side bar*/
	margin-bottom: 10px;
}

article
{
	background-color: white;
	margin-top: 4px;
	padding: 10px 15px;		/*top&bottom right&left*/
	overflow: hidden;
}

article header p
{
	font-style: italic;
}

article p img
{
	width: 200px;
	height: auto;
	float: left;
	margin: 5px 10px 0px 0px;
}

aside
{
	border: 4px solid #bbbbbb;
	background-color: white;
	width: 160px;
	min-height: 400px;
	float: right;		/*make sidebar at the right side position*/
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 15px;
}

footer
{
	clear: both; /*ensure no other element at the same line*/
	background-color: #20416c; /*dark blue*/
	color: white;
	padding: 5px 20px;		/*top&bottom right&left*/
}
